<div ng-controller="ImageSlideController as vm">
	<div style="height: 90px">
		<carousel interval="vm.myInterval" no-wrap="vm.noWrapSlides">
			<slide ng-repeat="slide in vm.slides" active="slide.active">
				<img ng-src="{{slide.image}}" height="60px" width="100%" style="margin:auto;">
			</slide>
		</carousel>
	</div>
</div>

<div class="reliefMethodsPic">
	<div  ng-controller="UserController as vm">
		<div class="mainNav">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills navbar-right mainNavButtons">

						<button ng-hide="vm.userLoggedIn" ng-click="vm.openRegisterModal()">Register</button>

						<button ng-hide="vm.userLoggedIn" ng-click="vm.openLoginModal()">Login</button>

						<a type="btn" ng-show="vm.userLoggedIn" ui-sref="UserProfile"><button>Profile</button></a>

						<a type="btn" ui-sref="Topics"><button>Home</button></a>

						<button type="btn" ng-show="vm.userLoggedIn" ng-click="vm.logoutUser()">Logout</button>


					</ul>

				</div>
			</div>
		</div>

		
	</div>
</div>

<div class="row text-center">

	<div class="col-md-6 ">
		<h2 class="reliefText">Stress <span class="coloredWords">Relieving</span> Links</h2>
		<br/>
		<p><a class="btn btn-md btn-info" href="http://www.calm.com/">Click to calm down</a></p>
		<p><a class="btn btn-md btn-info" href="http://www.pixelthoughts.co/#">Click to shrink your problems away</a></p>
		<p><a class="btn btn-md btn-info" href="http://rainfor.me/">Rain on you problems</a></p>
		<p><a class="btn btn-md btn-info" href="http://www.helpguide.org/articles/stress/stress-symptoms-causes-and-effects.htm">Help Guide</a></p>

		
		
	</div>

	<div class="col-md-6 reliefText">
		<h2>Stress <span class="coloredWords"><strong>Relieving</strong></span> Videos</h2>
		<br/>
		<i>Coming Soon...</i>
		<button class="btn btn-md btn-info" ng-click="vm.getVideos()">Get Videos</button>

	</div>

</div>


