<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-12">
			<form ng-submit="vm.createTopic()">
				<br/>
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" placeholder="Write a title for your stress problem or solution..." ng-model="vm.topic.title"/>
				</div>

				<div class="form-group">
					<label >Message</label>
					<input type="text" class="form-control" placeholder="Describe your stress problem or solution here..." ng-model="vm.topic.message"/>
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-default btn-success">
						Post Message
					</button>
				</div>
				<br/>

			</form>
		</div>

	</div>
</div>